ion-content {
  --background: rgb(201, 70, 70);
  font-family: "Times New Roman", Times, serif;
  padding: auto;
  // border-color: red;
}
ion-slides {
  background-color: black;
  height: 100%;
  max-width: 800px;
  h1,
  h2 {
    margin: 0;
    color: var(--ion-color-primary);
  }
  ion-icon {
    color: rgb(201, 70, 70);
    font-size: 48px;
  }
  ion-icon[name="close"] {
    float: right;
    color: var(--ion-color-primary);
    font-size: 48px;
  }
  img {
    max-height: 50%;
    max-width: 60%;
    margin: 64px 0;
  }
}
.swiper-slide {
  display: block;
  margin-bottom: 64px;
  background-color: black;
}
