<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/icon/logom1.png" alt="Edro Music" />
      <h1>Escucha tu música</h1>
      <h2>EN CUALQUIER LUGAR</h2>
      <p>
        La mejor aplicacion para escuchar tu música favrita, original, pura y
        buena!
      </p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/icon/logom1.png" alt="Edro Music" />
      <h1>Disfruta de nuestro productos</h1>
      <h2>DE VIDEOS INCLEIBLES</h2>
      <p>
        Entraa al modo video de nuestro reporductor y obtén acceso a
        clips,documentales y making offs increibles de tus artistas facoritos.
      </p>
      <ion-icon name="videocam"></ion-icon>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/icon/logom1.png" alt="Edro Music" />
      <h1>Accede al esclusivo</h1>
      <h2>MODO DEPORTE</h2>
      <p>
        Crea una playlist basada en tu actividad física. Ten reportes y acceso a
        lo que necesitas, integrado con GPS!
      </p>
      <ion-icon name="bicycle"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
